<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
        aria-expanded="false" aria-controls="collapseWidthExample">
        Mostrar información de contacto
    </button>
</p>
<div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
        <div class="card card-body" style="width: 300px;">
            Numero de teléfono: 4271200967
            Correo universitario: diegosv.ti21&#64;utsjr.edu.mx
            Grupo: DS01SV-23
        </div>
    </div>
</div>

<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2"
        aria-expanded="false" aria-controls="collapseWidthExample">
        Mostrar información personal
    </button>
</p>
<div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample2">
        <div class="card card-body" style="width: 300px;">
            Nombre: Diego Salinas Vazquez
            Número de lista: Creo soy el 19 jeje

        </div>
    </div>
</div>